.footer {
  background-color: $dark-bgcolor;
  color: $white-color;
  padding: 60px 0;
}
.footer__container {
  @extend .container;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Address
.footer__address {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}
.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.address__link {
  @extend %link;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

// Appeal-container
.appeal-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 206px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    align-content: flex-end;
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    text-align: left;
    margin-bottom: 0;
  }
}
.appeal-container__title {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
  margin-bottom: 20px;
}
