.footer-form__label {
  display: block;
  text-transform: uppercase;
  line-height: 1.14;
  @include font(700, 14px);
}
.footer-form__input {
  display: inline-block;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $dark-bgcolor;
  color: rgba(255, 255, 255, 0.6);
  @include transition(border);

  &:focus,
  &:hover {
    border: 1px solid $accent-color;
  }
}
