.team {
  @extend %list;

  @media screen and (min-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$cards-gap});
    margin-bottom: calc(-1 * #{$cards-gap});
  }
}
.team__item {
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $mobile) {
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * #{$cards-gap}) / 2);
    margin-left: $cards-gap;
    margin-bottom: $cards-gap;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 4 - #{$cards-gap});
    margin-left: $cards-gap;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: $cards-gap;
    }
  }
}
.team-member__meta {
  padding: 30px 32px 24px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding: 30px 32px;
  }
}
.team-member__name {
  @include font($font-weight: 500);
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-member__position {
  color: $light-gray-color;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 16px;
}
