// Hero and footer buttons
.btn {
  @extend %button;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.btn__icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: $white-color;
}

// Modal-form submit button
.btn--flex {
  @extend .btn;
  @include centeredFlex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

// Modal-form close button
.close-modal-btn {
  @include centeredFlex();
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-modal-btn__icon {
  fill: $primary-color;
  @include transition();

  .close-modal-btn:hover &,
  .close-modal-btn:focus & {
    fill: $accent-color;
  }
}

// Portfolio buttons
.filters__btn {
  @extend %button;
  font-weight: 500;
  text-align: center;
  letter-spacing: inherit;
  color: inherit;
  line-height: 1.62;
  background-color: $accent-bgcolor;
  padding: 6px 22px;
  border: transparent;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
