.menu-container {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px 48px;

  @media screen and (max-width: 767px) {
    display: none;
    background-color: $white-color;
    position: absolute;
    top: 100%;
    left: 0;

    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100vh;
      top: 48px;
      z-index: 2;

      @media screen and (max-height: 450px) {
        overflow-y: scroll;
      }
    }
  }
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}
