.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &--nopadding {
    @extend .section;
    padding-top: 0;

    @media screen and (max-width: $desktop) {
      display: none;
    }
  }

  &--withbg {
    @extend .section;
    background-color: $accent-bgcolor;
  }
}
.section__title {
  @include font(700, 36px);
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  @media screen and (max-width: $desktop) {
    margin-bottom: 30px;
    font-size: 28px;
  }

  &--hidden {
    display: none;
  }

  &--shadow {
    @extend .section__title;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
