body {
  background-color: $white-color;
  color: $primary-color;
  font-family: $primary-font;
  @include font();
  letter-spacing: 0.03em;
}
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
