// Colors
$primary-color: #212121;
$accent-color: #2196f3;
$light-gray-color: #757575;
$white-color: #ffffff;
$item-border-color: #eeeeee;
$accent-bgcolor: #f5f4fa;
$dark-bgcolor: #2f303a;
$gray-link-color: #afb1b8;

// Gap for all cards
$cards-gap: 30px;

// Fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
